.rowTab{
  background-color: #e7dcc3;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  border-radius: 14px;
}

<img src="https://media1.tenor.com/images/5020a52fe1cc46108642fa6ff0caf56c/tenor.gif">